@{
    Layout = null;
}

<header class="collapse navbar-collapse navbar-inverse">
    <!--https://www.123freevectors.com/abstract-black-blue-and-purple-background-design-153532/  -->
    <!-- http://clipart-library.com/free/red-arrow-png-transparent.html -->
    <!--<nav class="collapse navbar-collapse navbar-inverse">-->
    <img class="logo" src="images/PurpleBackground.png" alt="purple" />
    <ul class="nav navbar-nav" id="navBar">
        <li><a href="NewsUpdate.aspx" data-localize="nav.home">News Update</a></li>
        <li><a href="WeatherInfo.aspx" data-localize="nav.order">Weather Info </a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>Demos</span><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="SortingPage.aspx">Sorting Page</a></li>
                <li><a href="BestSellingBooks.aspx">Best Selling Books</a></li>
            </ul>
        </li>
        <li><a href="NewsUpdate.aspx">Coming soon </a></li>
        <li><a href="NewsUpdate.aspx">Coming soon</a></li>
        <li role="presentation"><a href="NewsUpdate.aspx">Coming soon </a></li>
        <!--</ul>-->
        <div class="pull-right">
            <!--<a href="#" id="en">English</a>&emsp;-->
            <!--<a href="#" id="ja" >Chinese</a>&emsp;<!--try and add this-->-->
            <!--<a href="#" id="help" onclick="startIntro();">Help</a>-->

            <div id="google_translate_element"></div>
            <script type="text/javascript">
                                                             function googleTranslateElementInit() {
                                                                 new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
                                                             }
            </script>
            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


        </div>
        <!--</nav>-->
    </ul>
</header>


<!--start of added code-->
<div id="drawerMenu" class="drawer dw-xs-8 fold">
    <div class="drawer-controls visible-xs-block">
        <a href="#drawerMenu" data-toggle="drawer" class="btn btn-primary btn-lg" style="font-size:10px; padding:0px 5px 0px 5px">&equiv;</a>

    </div>

    <div class="drawer-contents">
        <!--</div>-->
        <div class="drawer-heading">
            <h2 class="draw-title">Menu</h2>


        </div>
        <ul class="drawer-nav">

            <li role="presentation" class="active">
                <a href="NewsUpdate.aspx">News Update</a>

            </li>
            <li role="presentation" class="active">
                <a href="WeatherInfo.aspx">Weather Update</a>
            </li>
            <li role="presentation" class="active">

                <a href="SortingPage.aspx">Sorting Page</a>
            </li>
            <li role="presentation" class="active">

                <a href="BestSellingBooks.aspx">Best selling books</a>
            </li>


        </ul>
    </div><!--</div> maybe remove this laterand add it below-->

    <div class="drawer-body">
        <p>Mobile window</p>
    </div>
    <div class="drawer-footer locked text-center">
        <small>&copy; ATS</small>
    </div>
    <!--</div> this might be the added one-->
</div><!--closed draw menu-->
<!-- end of added code-->
